{% extends "base.html" %}
{% block content %}
    <div>Plumstravaganza 2016 is about recognising everything Plumstead has to offer and celebrating the contribution made by individuals, local groups and small businesses to the community. It is about bringing a sense of festival and fun to the streets.
    </div>
    <br />
    <div class="container-fluid" >
        <div class="row">
            <div class="col-xs-4">
                <a href="/events/orienteering"><img src="/static/images/plumEvents/orienteering.png" alt="Orienteering" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a href="/events/poetry"><img src="/static/images/plumEvents/poetry.png" alt="Poetry Competition" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a href="/events/cyanotype"><img src="/static/images/plumEvents/cyanotype.png" alt="Cyanotype Workshop" class="img-responsive"></a>
            </div>
        </div>
                <div class="row">
            <div class="col-xs-4">
                <a href="/events/photography"><img src="/static/images/plumEvents/photogn.png" alt="Photography Competition" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a href="/events/plumtrail"><img src="/static/images/plumEvents/plumgn.png" alt="Plum Trail" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a href="/events/openstudios"><img src="/static/images/plumEvents/openyl.png" alt="Open Studios" class="img-responsive"></a>
            </div>
        </div>
                <div class="row">
            <div class="col-xs-4">
                <a href="/events/walksntalks"><img src="/static/images/plumEvents/walksor.png" alt="Walks and Talks" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a href="/byName#enp"><img src="/static/images/plumEvents/artrd.png" alt="Art Workshops" class="img-responsive"></a>
            </div>
            <div class="col-xs-4">
                <a href="/byName"><img src="/static/images/plumEvents/more.png" alt="Much More" class="img-responsive"></a>
            </div>
        </div>
    </div>
<br />
{% endblock %}