{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <h3>Plum Trail</h3>
                <p>The Plum Trail will launch on Monday 29th August and run for the duration of Plumstravaganza. The 50 or so posters in the Plum Trail will be located around the Plumstead, Glyndon and Shooters Hill wards at small businesses, community centres, libraries, churches and sports halls. Each poster will display a plum variety and an accompanying question to be entered on the downloadable answer form.</p>
                <p>Individuals and families are invited to participate by walking to each plum on the trail and answering the question they will find there. It will take several days to visit all of them, so allow plenty of time!</p>
                <p>Any Plumstead businesses wishing to attract local people from other parts of the area by displaying an A4 poster as part of the Plum Trail are invited to contact Plumstravaganza on the Art Plumstead stall at Plumstead Make Merry on Saturday 11th June.</p>
            </div>
            <div class="col-md-5">
                <h3>Events</h3>
                <p>We have had the following ideas suggested at our open meetings:</p>
                <p>Plum Trail, Poetry Competition, Short Story Competition, Open Gardens, Open Studios, Fun Plum Run, Foraging – Possibly linked to Cooking afterwards, Guerilla Art/Pavement Chalking, Poppy Making W/Shop, Community Felt Making, Come And Sing, For People Who Can Read A Musical Score, Musical Recital, Plum Quiz Night, Open Air (Or Inside) Painting/Drawing, Jam Competition, Tree Trail, Making Workshop From Natural Materials, Final Party, Pub Crawl, History Walk.</p>
            </div>
        </div>
    </div>
{% endblock %}