{% extends "base.html" %}
{% block content %}

    <h3>Plumstravaganza 2016 – Celebrating Plumstead SE18</h3>



<h4>Community, Festival and Fun</h4>




<a href="https://artplumstead.wordpress.com/" target="_blank">Art Plumstead</a> is a community group that has been putting on events in Plumstead since 2012. At a meeting of the group in the autumn of 2015 a casual mention of the <a href="http://gogodragons.co.uk/">Dragon Trail</a> held in Norwich that summer led on to the idea that Plumstead could do something similar and call it the <a href="/events/plumtrail">Plum Trail</a> and with it the idea of Plumstravaganza 2016 was born, because many good things are on offer in Plumstead that many people don’t know about.

<h4>So what is the Plumstravaganza?</h4>
<ul>
    <li>A <a href="/calendar">calendar</a> of events over a two week period at the time when summer shifts into autumn 29th August – September 11th 2016</li>
    <li>Created around the <a href="/events/plumtrail">Plum Trail</a>, to showcase clubs, businesses and other amenities that offer something positive to our community. Some of the events occur all year round, others have been tailor made for Plumstravaganza</li>
    <li>An enjoyable festival of mostly free activities for people to join in.</li>
</ul>
We are delighted that <a href="https://plumsteadmakemerry.co.uk/" target="_blank">Plumstead Make Merry</a> and the <a href="https://plumsteadcommunitymarket.wordpress.com/" target="_blank">Plumstead Community Market</a> are taking part in Plumstravaganza, as they have given so much to Plumstead over the years.

We’re a voluntary group with no outside funding and we hope to bring a sense of festival and fun to the streets and hope that as many people as possible get involved in what Plumstead has to offer!
<br />
<br />
{% endblock %}