{% extends "base.html" %}
{% block content %}
    <ul class="nav nav-tabs">
        <li><a href="/events">By Date</a></li>
        <li class="active"><a href="#">By Name</a></li>
        <li><a href="/calendar">Calendar View</a></li>

    </ul>

     <div class="container-fluid">
   <h3>Events by Name</h3>
<div class="container">
  <div class="btn-toolbar">
    <div class="btn-group btn-group-sm">
      <a href="#a" class="btn btn-default btn-lg" role="button">A</a>
      <a href="#b" class="btn btn-default btn-lg" role="button">B</a>
      <a href="#c" class="btn btn-default btn-lg" role="button">C</a>
      <a href="#d" class="btn btn-default btn-lg" role="button">D</a>
      <a href="#e" class="btn btn-default btn-lg" role="button">E</a>
      <a href="#f" class="btn btn-default btn-lg" role="button">F</a>
      <a href="#g" class="btn btn-default btn-lg" role="button">G</a>
      <a href="#h" class="btn btn-default btn-lg" role="button">H</a>
      <a href="#i" class="btn btn-default btn-lg" role="button">I</a>
      <a href="#j" class="btn btn-default btn-lg" role="button">J</a>
      <a href="#k" class="btn btn-default btn-lg" role="button">K</a>
      <a href="#l" class="btn btn-default btn-lg" role="button">L</a>
      <a href="#m" class="btn btn-default btn-lg" role="button">M</a>
      <a href="#n" class="btn btn-default btn-lg" role="button">N</a>
      <a href="#o" class="btn btn-default btn-lg" role="button">O</a>
      <a href="#p" class="btn btn-default btn-lg" role="button">P</a>
      <a href="#q" class="btn btn-default btn-lg" role="button">Q</a>
      <a href="#r" class="btn btn-default btn-lg" role="button">R</a>
      <a href="#s" class="btn btn-default btn-lg" role="button">S</a>
      <a href="#t" class="btn btn-default btn-lg" role="button">T</a>
      <a href="#u" class="btn btn-default btn-lg" role="button">U</a>
      <a href="#v" class="btn btn-default btn-lg" role="button">V</a>
      <a href="#w" class="btn btn-default btn-lg" role="button">W</a>
      <a href="#x" class="btn btn-default btn-lg" role="button">X</a>
      <a href="#y" class="btn btn-default btn-lg" role="button">Y</a>
      <a href="#z" class="btn btn-default btn-lg" role="button">Z</a>
    </div>
  </div>
</div>

<h4 id="a">A<small><a href="#top"> ...Back to top</a></small></h4>




        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="art">Adult Rugby Training </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Greenwich RUFC, The Pavilion, Old Mill Road </div></div>
        <div class="col-sm-6"><div class="datetime">7:30pm - 9:30pm 31 Aug</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">7:30pm - 9:30pm 07 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">it's just turn up with kit to train in and happy to welcome anyone who fancies having a go.</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="atc">Adult Tennis Coaching </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Shooters HIll Tennis Club </div></div>
        <div class="col-sm-6"><div class="datetime">7:30pm - 9pm 08 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">£8 per session for non-members.  No need to book in advance - just turn up. Bring your racquet and a pair of trainer type shoes. </div></div>

       	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="aft">Affordable Food Tasting Event</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Library, Plumstead High St, London SE18 1JL, UK</div></div>
        <div class="col-sm-6"><div class="datetime">2pm - 4pm 07 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">In this workshop style event you will be shown how fresh herbs can be used on their own or added to supermarkets' value range to add interest to your diet. There will be a session on growing edible plants from scraps and easily available seeds. You will hear about local foraging. The event will conclude with a tasting of home made sweet and savoury food.</div></div>


        <h4 id="b">B<small><a href="#top"> ...Back to top</a></small></h4>
        <h4 id="c">C<small><a href="#top"> ...Back to top</a></small></h4>

                	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="can">Canary Wolf</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Oxleas Wood Café, Crown Woods Lane SE18 3JA (outside weather permitting)</div></div>
        <div class="col-sm-6"><div class="datetime">3pm - 5pm 04 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">
See <a href="http://www.canarywolf.co.uk/canarywolf.co.uk/Homepage.html" target="_blank">http://www.canarywolf.co.uk</a> for details</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="car">Cardio Tennis </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Shooters Hill Tennis Club, Eaglesfield Road, SE18</div></div>
        <div class="col-sm-6"><div class="datetime">10am - 11am 10 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">A one hour work-out on the tennis court. Bring your racquet and a pair of trainers. £7 for non members. No booking required - just turn up.</div></div>


        <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="cha">Chairobics exercise class </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Slade Church, The Slade , Plumstead Common London SE18 2NB</div></div>
        <div class="col-sm-6"><div class="datetime">2pm - 3pm 01 Sep</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">2pm - 3pm 08 Sep</div></div>
        </div>


        <div class="row">
        <div class="col-sm-12">Excercise class for the less mobile with a CYQ instructor.  This is a free class </div></div>


                	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="cgt">Club Group for teenagers </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Slade Evangelical Church The Slade Plumstead Common Road Plumstead Common London SE18 2NB</div></div>
        <div class="col-sm-6"><div class="datetime">7pm - 9pm 09 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Group for teenagers aged 11 to 16 with sports, activities, a talk and discussion group </div></div>

    	<div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="cof">Coffee Bar </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Slade Evangelical Church The Slade Plumstead Common Road Plumstead Common London SE18 2NB</div></div>
        <div class="col-sm-6"><div class="datetime">9:30am - 10:30am 07 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Coffee bar - free </div></div>

        <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="caf">Community Cafe </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Salvation Army, White Hart Road Plumstead SE18 1DG. </div></div>
        <div class="col-sm-6"><div class="datetime">10:30 - 2pm 06 Sep</div></div>
                </div>
                <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">10:30am - 2pm 30 Aug</div></div>
        </div>


        <div class="row">
        <div class="col-sm-12">All-ages chat and relaxation plus light refreshments are available. See <a href="http://www.salvationarmy.org.uk/plumstead" target="blank">http://www.salvationarmy.org.uk/plumstead</a> for details</div></div>


        <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name">Cyanotype Workshop - Children 8+ accompanied by adult</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead venue - to be provided on booking </div></div>
        <div class="col-sm-6"><div class="datetime">10am - 12:30pm 04 Sep</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">2pm - 4:30pm 04 Sep</div></div>
        </div>
        <div class="row">
        <div class="col-sm-12">Max 6 children. There will be a cost of £3 for materials to produce 1 A4 cyanotype. Children must be accompanied by an adult. See <a href="http://www.plumstravaganza.co.uk/events/cyanotype">http://www.plumstravaganza.co.uk/events/cyanotype</a> for details</div></div>

           	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Cyanotype Workshop for Adults </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead venue - to be provided on booking </div></div>
        <div class="col-sm-6"><div class="datetime">10am - 12:30pm 10 Sep</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">1:30pm - 4pm 10 Sep</div></div>
        </div>


         <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">4:30pm - 7:00pm 10 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Max 6 adults £3 cost for materials to produce 1 A4 Cyanotype. See <a href="http://www.plumstravaganza.co.uk/events/cyanotype">http://www.plumstravaganza.co.uk/events/cyanotype</a> for details</div></div>

        <h4 id="d">D<small><a href="#top"> ...Back to top</a></small></h4>
       	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="dje">Djembe Drumming</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Library</div></div>
        <div class="col-sm-6"><div class="datetime">7pm - 9pm 06 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">The Bonkerz Drumming group meets every Tuesday in Plumstead Library during term time and has been doing so for over two years. Its previous home was at Crown Woods School in Eltham but the hope is to carry on here in Plumstead for as long as we can.

The drums we play are called djembe (pronounced JEM-bay) and they are one of the most versatile percussion instruments around. The djembe drum is said to have been invented in the 12th Century by the Mandinke tribe in what is now Mali, in West Africa. Its huge popularity is down to the fact that it can create an unusually wide range of pitches, namely the bass (low), tone (medium) and slap (high). These sounds are created by striking different areas of the djembe skin with the hands.

Beginners as well as people, who have played before, are most welcome and drums are provided at no extra cost if you don’t have your own. Currently, the group has a wide age range and a few more female members than male so it really is open to all. However, if a child wishes to attend it would be necessary for them to be accompanied by a responsible adult. </div></div>

        <h4 id="e">E<small><a href="#top"> ...Back to top</a></small></h4>
                	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="ett">Edible Tree Trail</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Winn's Common</div></div>
        <div class="col-sm-6"><div class="datetime">2:30pm - 3:30pm 04 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Revisit the <a href="https://artplumstead.wordpress.com/2016/05/10/the-tasty-dozen/" target="_blank">Edible Trees of Winn's Common</a> to see how they have changed since May when we were tasting the leaves. This time, we will be looking at the developing fruits. Meet on the short path between Kings Highway and Winn Common Road. Estimated time, approximately 1 hour.
This event will be immediately followed by the Flash Mob Greek Dance </div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="enp">En Plein Air Workshop</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Rockliffe Gardens SE18</div></div>
        <div class="col-sm-6"><div class="datetime">11am - 2pm 11 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">We will return to Rockliffe Gardens to appreciate the scenery and to capture it in watercolour or sketches. If you have your own equipment, you're all set - just turn up and paint or sketch! We do have a limited supply of watercolour supplies. If you will need to borrow any, contact us beforehand and we can advise availability. Please note we can not lend equipment to very young children</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="enc">English corner (English Lessons)</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Slade Evangelical Church The Slade Plumstead Common Road Plumstead Common London SE18 2NB</div></div>
        <div class="col-sm-6"><div class="datetime">10am - 12pm 07 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">English lessons for speakers of other languages - free </div></div>

        <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="exp">Explore Learning Literacy taster workshop</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Library</div></div>
        <div class="col-sm-6"><div class="datetime">1pm - 2pm 02 Sep</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">4pm - 5pm 09 Sep</div></div>
        </div>
        <div class="row">
        <div class="col-sm-12">See <a href="http://www.explorelearning.co.uk/AbbeyWood" target="_blank">http://www.explorelearning.co.uk/AbbeyWood</a> for details
</div></div>
        <h4 id="f">F<small><a href="#top"> ...Back to top</a></small></h4>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="fin">Final Party</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">7pm - 11pm 11 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12"></div></div>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="fla">Flash Mob Greek Dance</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Winn's Common</div></div>
        <div class="col-sm-6"><div class="datetime">3:30pm - 4:30pm 04 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Please note the dancing will take place once the Edible Tree Trail has finished on Winn's Common and will be in the same area i.e. near the paddling pool, therefore may not start at exactly 3.30pm.
</div></div>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="for">Foraging walk </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Slade Libary, Erindale, Plumstead SE18 2QQ</div></div>
        <div class="col-sm-6"><div class="datetime">9:30am - 10:30am 01 Sep</div></div>
        </div>
                <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">9:30am - 10:30am 08 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Revisit the route taken in May to see how the plants have changed in the last four months and make a mental note to come back and harvest the fruits as they ripen! Please arrive promptly. Run by Greenwich Get Walking.</div></div>


<h4 id="g">G<small><a href="#top"> ...Back to top</a></small></h4>


        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="gyb">Greenwich Youth Band</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Bull 151 Shooters Hill SE18 3HP</div></div>
        <div class="col-sm-6"><div class="datetime">12:00pm - 2:30pm 29 Aug</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Greenwich Youth Band - The Bull 151 Shooters Hill SE18 3HP (in garden weather permitting) - Free</div></div>

<h4 id="h">H<small><a href="#top"> ...Back to top</a></small></h4>
<h4 id="i">I<small><a href="#top"> ...Back to top</a></small></h4>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="imp">Improshrews Theatre Improvisation</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Room 2 Shrewsbury House, Bushmoor Crescent SE18 3BT</div></div>
        <div class="col-sm-6"><div class="datetime">7:30pm - 9:30pm 07 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">More information can be found here: <a href="http://improshrews.weebly.com/about.html" target="_blank">http://improshrews.weebly.com/about.html</a>

The class runs 7.30 till 9.30 and it in room 2 at Shrewsbury House. It is pay what you can.

We will be teaching live improvisation where you make up scenes on the spot from live suggestions. The tutors use techniques based on skills learned from London Theatre Sports, Keith Johnstone, Dr Ziggy Marsh, Alan Marriott and the Crunchy Frog Collective.

It is a supportive and friendly environment. All levels and abilities are welcome.
</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="opw">In the Footsteps of George Duckworth (Walk)</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Station </div></div>
        <div class="col-sm-6"><div class="datetime">11am - 1pm 03 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">A walk and talk around parts of Plumstead that have changed over the years, pointing out sites that where important in the past and buildings, whose purpose has changed.
        The walk will follow the route that the social commentator, George Duckworth, took along with PC Clyne on Monday 1st October 1900, as part of the Social Survey of London Life that was carried out between 1886 and 1903. This survey was instigated by the businessman, Charles Booth,  and it is hoped that the walk will shed some light on what life was like in parts of Plumstead 116 years ago. Maybe even in the very house that you live in today.</div></div>


<h4 id="j">J<small><a href="#top"> ...Back to top</a></small></h4>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="jig">Jigsaw - for parents and carers with toddlers and babies </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Slade Evangelical Church The Slade Plumstead Common Road Plumstead Common London SE18 2NB</div></div>
        <div class="col-sm-6"><div class="datetime">09:45am - 11:15am 08 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">There will be a small fee for attendance (tbc) This is a group for parents and carers with toddlers and babies. It meets during term-times and this session is the first of the school year </div></div>

<h4 id="k">K<small><a href="#top"> ...Back to top</a></small></h4>

	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="kan">Knit & Natter</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Slade Centre Library - Erindale SE18 2QQ</div></div>
        <div class="col-sm-6"><div class="datetime">10.00am - 12pm 02 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12"></div></div>



<h4 id="l">L<small><a href="#top"> ...Back to top</a></small></h4>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="lta">Leisure time for adults </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Slade Evangelical Church The Slade Plumstead Common Road Plumstead Common London SE18 2NB</div></div>
        <div class="col-sm-6"><div class="datetime">10am - 12:30pm 05 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Free activities but refreshments may be charged. Activities include table tennis, darts, indoor bowls, board games or just chat. </div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="lif">Life drawing class with Ashley Greaves</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"> Shrewsbury House, Bushmoor Crescent SE18 3EG</div></div>
        <div class="col-sm-6"><div class="datetime">2:30pm - 05:30pm 08 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Thu 8 September - Life drawing class with Ashley Greaves - Shrewsbury House, Bushmoor Crescent SE18 3EG - £20 per session - 2.30pm - 5.30pm
See <a href="http://www.ashleygreaves.co.uk/gallery.html" target="_blank">http://www.ashleygreaves.co.uk/gallery.html</a> for details</div></div>

<h4 id="m">M<small><a href="#top"> ...Back to top</a></small></h4>


        <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="met">Methadox (band)</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Glenmore Arms - 41 Edison Grove SE18 2DW</div></div>
        <div class="col-sm-6"><div class="datetime">9pm - 11pm 03 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Free</div></div>


        <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="min">Mini Rugby - Open to children from 4 to 17 years - any ability</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road </div></div>
        <div class="col-sm-6"><div class="datetime">10am - 12:30pm 04 Sep</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">10am - 12:30pm 11 Sep</div></div>
        </div>
        <div class="row">
        <div class="col-sm-12">Open to children from 4 to 17 years of age of any ability - just turn up at the Rugby Club.</div></div>

<h4 id="n">N<small><a href="#top"> ...Back to top</a></small></h4>
<h4 id="o">O<small><a href="#top"> ...Back to top</a></small></h4>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="omc">Open Mic (acoustic)</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">@OldMillSE18</div></div>
        <div class="col-sm-6"><div class="datetime">8:30pm - 10:30pm 08 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="http://www.musicmillse18.co.uk">http://www.musicmillse18.co.uk/</a> for details</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Open Studios</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead</div></div>
        <div class="col-sm-6"><div class="datetime">10am - 5pm 10 Sep</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">10am - 5pm 11 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Plumstead Open Studios Saturday 10th and Sunday 11th September 11am until 5pm both days
John Rastall, who runs the Harlequin Gallery, is organising a weekend of Open Studios in Plumstead S. E. London, as part of this year’s Plumstravaganza. Already he has a number of artists who have agreed to take part but would be happy to be contacted by anyone else interested in joining in. Whether you produce fine art, photography, craft, design or anything in between he would be delighted to hear from you. All you would need to do is be prepared to open your home or studio in Plumstead on the days above. If you wished to share that space with artist friends you would be most welcome to do so, as long as you supplied details so that their work could feature in the publicity alongside your own.

For more details or just to say count me in please contact John by email at jr@studio-pots.com

See <a href="http://www.plumstravaganza.co.uk/events/openstudios"> http://www.plumstravaganza.co.uk/events/openstudios</a> for details</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Orienteering</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Shrewsbury Park Car Park, London, United Kingdom</div></div>
        <div class="col-sm-6"><div class="datetime">10am - 1pm 29 Aug</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Come along to Shrewsbury Park when you like between 10am and 1pm. We will be in the car park, off Plum Lane SE18 3HQ. Look for the Dartford Orienteering banner. See <a href="/events/orienteering">here</a> for details</div></div>

<h4 id="p">P<small><a href="#top"> ...Back to top</a></small></h4>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="pav">Pavement chalk drawing</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Rockliffe Gardens external pavement </div></div>
        <div class="col-sm-6"><div class="datetime">11am - 1pm 11 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12"></div></div>


         	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Photography Competition</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Open For Submissions</div></div>
        <div class="col-sm-6"><div class="datetime">15 Aug - 29 Aug</div></div>
        </div>
                <div class="row">
		<div class="col-sm-6"><div class="loc">Open For Voting</div></div>
        <div class="col-sm-6"><div class="datetime">01 Sep - 08 Sep</div></div>
        </div>


        <div class="row">
        <div class="col-sm-12">See <a href="http://www.plumstravaganza.co.uk/events/photography">http://www.plumstravaganza.co.uk/events/photography</a> for details</div></div>


        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Plum Trail</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead</div></div>
        <div class="col-sm-6"><div class="datetime">29 Aug - 12 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="http://www.plumstravaganza.co.uk/events/plumtrail">http://www.plumstravaganza.co.uk/events/plumtrail</a> for details</div></div>

         	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="pcb">Plumstead Common Bowling Club - open evening </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Common Bowling Club, SE18 7RT</div></div>
        <div class="col-sm-6"><div class="datetime">6pm - 8pm 02 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12"> This will be on a "weather permitting" basis - if it is raining then we will be drinking tea in the hut! Anyone coming along will just need flat footware for the bowling green.
See <a href="http://bowlsclub.org/club/9085/">http://bowlsclub.org/club/9085/</a> for details</div></div>


        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="pcm">Plumstead Community Market </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">St. Marks Church Hall, Old Mill Road, SE18 1QG </div></div>
        <div class="col-sm-6"><div class="datetime">11am - 3pm 03 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="https://plumsteadcommunitymarket.wordpress.com/">https://plumsteadcommunitymarket.wordpress.com/</a> for details</div></div>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="agm">Plumstead Make Merry AGM</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Back Room, St. Marks Church Hall, Old Mill Road, SE18 1QG</div></div>
        <div class="col-sm-6"><div class="datetime">1:30pm - 3pm 03 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="https://plumsteadmakemerry.co.uk/2016/06/23/annual-general-meeting-announcement/" target="_blank">https://plumsteadmakemerry.co.uk/2016/06/23/annual-general-meeting-announcement/</a> for details</div></div>


        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Poetry Competition</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Open for Submissions</div></div>
        <div class="col-sm-6"><div class="datetime">18th July - 19 Aug</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Judging Period</div></div>
        <div class="col-sm-6"><div class="datetime">22 - 27 Aug</div></div>
        </div>
        <div class="row">
        <div class="col-sm-12">See <a href="/events/poetry">here</a> for details</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Poetry Competition Final</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Old Mill pub, Old Mill Road </div></div>
        <div class="col-sm-6"><div class="datetime">8pm - 10pm 30 Aug</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="/events/poetry">here</a> for details</div></div>


        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="bab">Pre-inaugral Plumstravaganza concert - Boxwood and Brass</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Ascension Church, Timbercroft Lane, SE18 2SG</div></div>
        <div class="col-sm-6"><div class="datetime">4pm - 5pm 28 Aug</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Boxwood & Brass concert 'Classical wind ensemble return to herald the inaugural Plumstravaganza. (retiring collection). See <a href="http://www.plumstead-peculiars.com/concerts" target="_blank">www.plumstead-peculiars.com/concerts</a> for details</div></div>


<h4 id="q">Q<small><a href="#top"> ...Back to top</a></small></h4>

        <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="qui">Quiz Night</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Glenmore Arms - 41 Edison Grove SE18 2DW</div></div>
        <div class="col-sm-6"><div class="datetime">8.30pm - 10.30pm 07 Sep</div></div>
        </div>
        <div class="row">
        <div class="col-sm-12">£2 per person</div></div>


        <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="mmq">Quiz Night</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road</div></div>
        <div class="col-sm-6"><div class="datetime">8pm - 11pm 09 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Make Merry Fund-raising Quiz Night. £5 per head. See <a href="https://plumsteadmakemerry.co.uk/2016/07/01/the-return-of-the-merry-mayhem-quiz-night/">https://plumsteadmakemerry.co.uk/2016/07/01/the-return-of-the-merry-mayhem-quiz-night/</a> for details</div></div>

<h4 id="r">R<small><a href="#top"> ...Back to top</a></small></h4>
<h4 id="s">S<small><a href="#top"> ...Back to top</a></small></h4>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="spg">Spiral Garden Open</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Vicarage Park SE18 7SU</div></div>
        <div class="col-sm-6"><div class="datetime">10:30am - 12pm 01 Sep</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">10:30am - 12pm 08 Sep</div></div>
        </div>
        <div class="row">
        <div class="col-sm-12">Come to the Spiral Garden to see what food is being grown in this community garden located in Vicarage Park. During Plumstravaganza, you can learn how to make a paper pot to save money and the environment and what food you can grow at home on your own windowsill
The Spiral Garden is the newest addition to GCDA's drop-in food growing spaces where local residents can learn new skills, gain knowledge and meet new people. The garden has several communal raised beds waiting to be cultivated. New gardeners can come and develop their skills but experienced gardeners are also welcome. Feel free to drop in/out at will.
Entrance to the garden is at the corner of Vicarage Park SE18 7SU, next to Azile Everitt House</div></div>


<h4 id="t">T<small><a href="#top"> ...Back to top</a></small></h4>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="tkk">Thursday Kids Klub </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">The Slade Evangelical Church The Slade Plumstead Common Road Plumstead Common London SE18 2NB</div></div>
        <div class="col-sm-6"><div class="datetime">6pm - 7:15pm 08 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Games, crafts, Bible stories, music, quizzes & prizes for children aged 5 to 11. Free event </div></div>

<h4 id="u">U<small><a href="#top"> ...Back to top</a></small></h4>
<h4 id="v">V<small><a href="#top"> ...Back to top</a></small></h4>
<h4 id="w">W<small><a href="#top"> ...Back to top</a></small></h4>

       	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="nat">Walk and Talk - Nature Reserve</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Common</div></div>
        <div class="col-sm-6"><div class="datetime">2pm - 3pm 29 Aug</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">A walk and talk around and about Plumstead Nature Reserve led by Nick Day</div></div>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="wor">Walk and Talk: Workhouse Wood </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Winn's Common</div></div>
        <div class="col-sm-6"><div class="datetime">11am - 12pm 04 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">1 hour walk around Workhouse Wood, led by Nick Day</div></div>

       	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">We Ghosts</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Old Mill</div></div>
        <div class="col-sm-6"><div class="datetime">8:30pm - 11pm 03 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="http://www.musicmillse18.co.uk/411431563">http://www.musicmillse18.co.uk/411431563</a> for details</div></div>





        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Wessex Pistols</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Old Mill</div></div>
        <div class="col-sm-6"><div class="datetime">8:30pm - 11pm 10 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="http://www.musicmillse18.co.uk/411431563">http://www.musicmillse18.co.uk/411431563</a> for details</div></div>





        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="wtc">Womens tennis coaching </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Shooters Hill Tennis Club, Eaglesfield Road SE18 </div></div>
        <div class="col-sm-6"><div class="datetime">10am - 11am 09 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">No need to book, just turn up. Wear trainer type shoes and bring a racquet.  £8 per session for non-members. </div></div>

<h4 id="x">X<small><a href="#top"> ...Back to top</a></small></h4>
<h4 id="y">Y<small><a href="#top"> ...Back to top</a></small></h4>
<h4 id="z">Z <small><a href="#top"> ...Back to top</a></small></h4>

</div>

{% endblock %}