<HTML>
  <HEAD>
    <!-- Bootstrap boilerplate. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <!-- The core React library -->
    <script src="http://fb.me/react-0.10.0.js"></script>
    <!-- In-browser JSX transformer, remove when pre-compiling JSX. -->
    <script src="http://fb.me/JSXTransformer-0.10.0.js"></script>

    <TITLE>Ding Dong</TITLE>
  </HEAD>

  <BODY>
    <div id="container">if you can see this, it's broken!</div>

    <script src="js/clock.js" type="text/jsx"></script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  </BODY>
</HTML>
