{% extends "base.html" %}
{% block content %}
  <h2>Contact us</h2>


        <h4>General Queries</h4>
                Email us at <a href="mailto:info@plumstravaganza.co.uk?Subject=Contact%20Us" target="_top">info@plumstravaganza.co.uk</a>
        <h4>Plum Trail</h4>
                Email us at <a href="mailto:plumtrail@plumstravaganza.co.uk" target="_top">plumtrail@plumstravaganza.co.uk</a>
        <h4>Poetry Competition</h4>
            Email us at <a href="mailto:poetry@plumstravaganza.co.uk" target="_top">poetry@plumstravaganza.co.uk</a>
        <h4>Photography Competition</h4>
            Email us at <a href="mailto:photo@plumstravaganza.co.uk" target="_top">photo@plumstravaganza.co.uk</a>
        <h4>Cyanotype Workshops</h4>
            Email us at <a href="mailto:cyanotype@plumstravaganza.co.uk" target="_top">cyanotype@plumstravaganza.co.uk</a>
       <h4>Website Issues</h4>
                Email us at <a href="mailto:info@plumstravaganza.co.uk?Subject=Website%20Issue" target="_top">info@plumstravaganza.co.uk</a>

{% endblock %}