{% extends "base.html" %}
{% block content %}
<h3>Cyanotype workshop by Sandra Marques</h3>
<div class="container">
    <figure class="figure">

        <img src="/static/images/cyanotype.jpg" alt="Cyanotype Example" class="img-rounded img-responsive center-block">

    </figure>
    <p>Cyanotype Example</p>
</div>
<br>

<p><a href="/events/openstudios#Sandra">Sandra Marques</a> is a local photographer who is going to demonstrate and let you try the cyanotype process. Sandra will be showing you how to treat a piece of paper, so it is ready to produce the cyan blue print known as cyanotype. This very simple, safe process has been used since the mid 1800s and is still popular with photography artists today. These workshops are child friendly and will run on the following dates: 4th September – for children 8 years or above as long as the child is accompanied by an adult. 10 am – 12:30 and 14:00 – 16:30. This sessions will have a maximum of 6 children each. Costs: £3.00 per child per session.</p>
<p>The workshops will repeat on September 10th (adults only) 10 am- 12:30; 13:30 – 16:00 and 16:30- 19:00. Cost £3.00 per adult per session. By the end of each workshop all participants will have an A4 cyanotype art work to take home and a second treated piece to be exposed later on. Please book by email on: <a href="mailto:cyanotype@plumstravaganza.co.uk?Subject=Cyanotype%20Workshop" target="_top">cyanotype@plumstravaganza.co.uk</a> The event will take place in a private house in Plumstead. Venue details will be emailed prior to the event and payment will be taken on the day. </p>
<p><img src="/static/images/cyanotype.jpg" class="img-rounded" width="300" alt="Cyanotype Example"></p>
<br>
{% endblock %}