{% extends "base.html" %}
{% block content %}

     <div class="container-fluid">
        <h3>Events by Date</h3>
        <div class="row">
            <div class="col-sm-12, date"><span>5 June</span></div>
        </div>
        <div class="row">
            <div class="col-sm-4"><span class="event"><a href="https://artplumstead.wordpress.com/short-story-competition-2016/">Short Story Competition Open</a></span></div>
            <div class="col-sm-4"><loc>Plumstead</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
        </div>
        <br>

		<div class="row">
			<div class="col-sm-12"><date>15 July</date></div>
        </div>
        <div class="row">
			<div class="col-sm-4"><event>Short Story Competition Closes</event></div>
			<div class="col-sm-4"><loc>Plumstead</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
		</div>
        <br>

		<div class="row">
			<div class="col-sm-12"><date>18 July</date></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><event><a href="/events/poetry">Poetry Competition Open</a></event></div>
			<div class="col-sm-4"><loc>Plumstead</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
		</div>
        <br>

		<div class="row">
			<div class="col-sm-12"><date>11 August</date></div>
        </div>
		<div class="row">
			<div class="col-sm-4"><event>Photography Competition Open</event></div>
			<div class="col-sm-4"><loc>Plumstead</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
		</div>
        <br>

		<div class="row">
			<div class="col-sm-12"><date>19 August</date></div>
        </div>
		<div class="row">

			<div class="col-sm-4"><event>Poetry Competition Closes</event></div>
			<div class="col-sm-4"><loc>Plumstead</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
		</div>
        <br>

		<div class="row">
			<div class="col-sm-12"><date>28 August</date></div>
        </div>
		<div class="row">

			<div class="col-sm-4"><event>Pre-inaugral Plumstravaganza concert</event></div>
			<div class="col-sm-4"><loc>The Ascension Church, Timbercroft Lane, SE18 2SG</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
			<div class="col-sm-2"><time>4pm – 5pm</time></div>
		</div>
        <br>

		<div class="row">
			<div class="col-sm-12"><date>29 August</date></div>
        </div>
		<div class="row">
			<div class="col-sm-4"><event>Start of Plumstravaganza</event></div>
			<div class="col-sm-4"><loc>Plumstead</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
        </div>
		<div class="row">
			<div class="col-sm-4"><event>Plum Trail Open</event></div>
			<div class="col-sm-4"><loc>Plumstead</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><event><a href="/events/orienteering">Orienteering</a></event></div>
			<div class="col-sm-4"><loc>Shrewsbury Park Car Park, off Plum Lane SE18 3HQ</loc></div>
			<div class="col-sm-2"><cost>TBA</cost></div>
			<div class="col-sm-2"><time>10am – 1pm</time></div>
		</div>
        <br>

		<div class="row">
			<div class="col-sm-12"><date>30 August</date></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><event>Community Cafe</event>
			</div> <div class="col-sm-4"><loc>Salvation Army, White Hart Road Plumstead SE18 1DG</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
			<div class="col-sm-2"><time>10:30am – 2pm</time> </div>
		</div>
		<div class="row">
			<div class="col-sm-4"><event><a href="http://www.plumstravaganza.co.uk/events/poetry#finals">Poetry Competition Final</a></event></div>
			<div class="col-sm-4"><loc>Old Mill pub, Old Mill Road</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
			<div class="col-sm-2"><time>8pm – 10pm</time></div>
		</div>
        <br>

        <div class="row">
			<div class="col-sm-12"><date>31 August</date></div>
		</div>
		<div class="row">
			<div class="col-sm-4"><event>Adult Rubgy Training</event></div>
			<div class="col-sm-4"><loc>Greenwich RUFC, The Pavilion, Old Mill Road</loc></div>
			<div class="col-sm-2"><cost>Free</cost></div>
			<div class="col-sm-2"><time>7:30pm – 9:30pm</time></div>
		</div>
        <br>

        <div class="row">
			<div class="col-sm-12"><date>1 September</date></div>
        </div>
		<div class="row">
			<div class="col-sm-4"><event>Foraging walk</event></div>
            <div class="col-sm-4"><loc>Slade Libary, Erindale, Plumstead SE18 2QQ</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>9:30am - 10:30am</time></div>
            </div>
            <div class="row"><div class="col-sm-4"><event> Chairobics exercise class </event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>2pm - 3pm</time></div></div>
        <br>

         <div class="row">
			<div class="col-sm-12"><date>2 September</date></div>
         </div>
            <div class="row"><div class="col-sm-4"><event> Open Evening </event></div>
            <div class="col-sm-4"><loc>Plumstead Common Bowling Club</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>6pm - 8pm</time></div></div>
        <br>

          <div class="row">
			<div class="col-sm-12"><date>3 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> 'Old Plumstead' Walk </event></div>
            <div class="col-sm-4"><loc>starting at Plumstead Station</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>11am - 1pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Plumstead Community Market </event></div>
            <div class="col-sm-4"><loc>St. Marks Church Hall, Old Mill Road, SE18 1QG</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>11am - 3pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Plumstead Make Merry AGM </event></div>
            <div class="col-sm-4"><loc>St. Marks Church Hall, Old Mill Road, SE18 1QG</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>1:30pm - 3pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Music in Old Mill </event></div>
            <div class="col-sm-4"><loc>Old Mill</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>8:30pm - 10:30pm</time></div></div>
        <br>

         <div class="row">
			<div class="col-sm-12"><date>4 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> Garage Sale </event></div>
            <div class="col-sm-4"><loc>Around Plumstead</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>8am - 12pm</time></div></div>

			<div class="row"><div class="col-sm-4"><event><a href="/events/cyanotype">Cyanotype Workshop for Children </a></event></div>
            <div class="col-sm-4"><loc>Details on Booking</loc></div>
            <div class="col-sm-2"><cost>£3.00</cost></div>
            <div class="col-sm-2"><time>10am - 12:30pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Mini Rugby - Children </event></div>
            <div class="col-sm-4"><loc>Greenwich Rugby Club, The Pavilion, Old Mill Road</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>10am - 12:30pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event><a href="/events/cyanotype">Cyanotype Workshop for Children </a></event></div>
            <div class="col-sm-4"><loc>Details on Booking</loc></div>
            <div class="col-sm-2"><cost>£3.00</cost></div>
            <div class="col-sm-2"><time>2pm - 4:30pm</time></div></div>


            <div class="row"><div class="col-sm-4"><event> Foraging walk - edible trees </event></div>
            <div class="col-sm-4"><loc>Winn's Common</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>2:30pm - 3:30pm</time></div></div>
        <br>

         <div class="row">
			<div class="col-sm-12"><date>5 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> Leisure time for adults </event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>10am - 12:30pm</time></div></div>
        <br>

         <div class="row">
			<div class="col-sm-12"><date>6 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> Community Cafe </event></div>
            <div class="col-sm-4"><loc>Salvation Army, White Hart Road, SE18 1DG</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>10:30am - 2pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Djembe Drumming </event></div>
            <div class="col-sm-4"><loc>Plumstead Library</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>7pm - 9pm</time></div></div>
        <br>

         <div class="row">
			<div class="col-sm-12"><date>7 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> Coffee Bar</event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>C
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>9:30am - 10:30am</time></div></div>

            <div class="row"><div class="col-sm-4"><event> English corner (English Lessons) </event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>10am - 12pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Affordable Food workshop </event></div>
            <div class="col-sm-4"><loc>Plumstead Library</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>2pm - 4pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Adult Rubgy Training </event></div>
            <div class="col-sm-4"><loc>Greenwich Rugby Club, The Pavilion, Old Mill Road</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>7:30pm - 9:30pm</time></div></div>
        <br>

         <div class="row">
			<div class="col-sm-12"><date>8 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> Greenwich Healthy Walks - Foraging </event></div>
            <div class="col-sm-4"><loc>Slade Libary, Erindale, Plumstead SE18 2QQ</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>9:30am - 10:30am</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Jigsaw - for parents and carers with toddlers and babies </event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>9:45am - 11:15am</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Chairobics exercise class </event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>2pm - 3pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Thursday Kids Klub </event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>6pm - 7:15pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Adult Tennis Coaching </event></div>
            <div class="col-sm-4"><loc>Shooters Hill Tennis Club, Eaglesfield Road, SE18 3DA</loc></div>
            <div class="col-sm-2"><cost>£8 for non-members</cost></div>
            <div class="col-sm-2"><time>7:30pm - 9pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Open Mic (acoustic) </event></div>
            <div class="col-sm-4"><loc>Old Mill</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>8:30pm - 10:30pm</time></div></div>
        <br>

         <div class="row">
			<div class="col-sm-12"><date>9 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> Womens Tennis Coaching </event></div>
            <div class="col-sm-4"><loc>Shooters Hill Tennis Club, Eaglesfield Road, SE18 3DA</loc></div>
            <div class="col-sm-2"><cost>£8 for non-members</cost></div>
            <div class="col-sm-2"><time>10am - 11am</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Club Group for teenagers </event></div>
            <div class="col-sm-4"><loc>The Slade Evangelical Church, SE18 2NB</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>7pm - 9pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Make Merry Fund-raising Quiz Night </event></div>
            <div class="col-sm-4"><loc>Greenwich Rugby Club, The Pavilion, Old Mill Road</loc></div>
            <div class="col-sm-2"><cost>TBC</cost></div>
            <div class="col-sm-2"><time>8pm - 11pm</time></div></div>
        <br>

          <div class="row">
			<div class="col-sm-12"><date>10 September</date></div>
         </div>

            <div class="row"><div class="col-sm-4"><event> Cardio Tennis </event></div>
            <div class="col-sm-4"><loc>Shooters Hill Tennis Club, Eaglesfield Road, SE18 3DA</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>£7 for non members</time></div></div>

			<div class="row"><div class="col-sm-4"><event><a href="/events/cyanotype">Cyanotype Workshop for Adults</a></event></div>
            <div class="col-sm-4"><loc>Details on Booking</loc></div>
            <div class="col-sm-2"><cost>£3.00</cost></div>
            <div class="col-sm-2"><time>10am - 12:30pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Open Gardens </event></div>
            <div class="col-sm-4"><loc>Around Plumstead</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>10am - 4pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Open Studios </event></div>
            <div class="col-sm-4"><loc>Around Plumstead</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>11am - 5pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event><a href="/events/cyanotype">Cyanotype Workshop for Adults</a></event></div>
            <div class="col-sm-4"><loc>Details on Booking</loc></div>
            <div class="col-sm-2"><cost>£3.00</cost></div>
            <div class="col-sm-2"><time>1:30pm - 4pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Short Story Awards </event></div>
            <div class="col-sm-4"><loc>Plumstead Library</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>3pm - 5pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event><a href="/events/cyanotype">Cyanotype Workshop for Adults</a></event></div>
            <div class="col-sm-4"><loc>Details on Booking</loc></div>
            <div class="col-sm-2"><cost>£3.00</cost></div>
            <div class="col-sm-2"><time>4:30pm - 7pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Music in Old Mill </event></div>
            <div class="col-sm-4"><loc>Old Mill</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>8:30pm - 10:30pm</time></div></div>
        <br>

          <div class="row">
			<div class="col-sm-12"><date>11 September</date></div>
         </div>
            <div class="row"><div class="col-sm-4"><event> Mini Rugby - Children </event></div>
            <div class="col-sm-4"><loc>Greenwich Rugby Club, The Pavilion, Old Mill Road</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>10am - 12:30pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Open Gardens </event></div>
            <div class="col-sm-4"><loc>Around Plumstead</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>10am - 4pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> En Plein Air Workshop </event></div>
            <div class="col-sm-4"><loc>Rockliffe Gardens SE18</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>11am – 2pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Open Studios </event></div>
            <div class="col-sm-4"><loc>Around Plumstead</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>11am - 5pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Walk and Talk: Workhouse Wood </event></div>
           <div class="col-sm-4"><loc>Winn's Common</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>11am - 12pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Pavement chalk drawing </event></div>
            <div class="col-sm-4"><loc>Rockliffe Gardens SE18</loc></div>
            <div class="col-sm-2"><cost>Free</cost></div>
            <div class="col-sm-2"><time>2pm - 3:30pm</time></div></div>

            <div class="row"><div class="col-sm-4"><event> Final Party </event></div>
            <div class="col-sm-4"><loc>Greenwich Rugby Club, The Pavilion, Old Mill Road</loc></div>
            <div class="col-sm-2"><cost>TBA</cost></div>
            <div class="col-sm-2"><time>7pm - 11pm</time></div></div>
          </div>


    <br>


{% endblock %}
