{% extends "base.html" %}
{% block content %}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#">By Date</a></li>
        <li><a href="/byName">By Name</a></li>
        <li><a href="/calendar">Calendar View</a></li>
    </ul>

     <div class="container-fluid">
        <h3>Events by Date</h3>

		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Mon 15 August</div></div>
        </div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/events/photography">Photography Competition Open for Submissions</a></div></div>
			<div class="col-sm-4"><div class="loc">Plumstead</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
		</div>

        <br>

		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Fri 19 August</div></div>
        </div>
		<div class="row" style="padding-top: 0.5%;">

			<div class="col-sm-4"><div class="event"><a href="/events/poetry">Poetry Competition Closes</a></div></div>
			<div class="col-sm-4"><div class="loc">Plumstead</div></div>
		</div>
        <br>

		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Sun 28 August</div></div>
        </div>
		<div class="row" style="padding-top: 0.5%;">

			<div class="col-sm-4"><div class="event"><a href="/byName#bab">Pre-inaugral Plumstravaganza concert - Boxwood and Brass</a></div></div>
			<div class="col-sm-4"><div class="loc">The Ascension Church, Timbercroft Lane, SE18 2SG</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
			<div class="col-sm-2"><div class="time">4pm – 5pm</div></div>
		</div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/events/photography">Photography Competition Closes for Submissions</a></div></div>
			<div class="col-sm-4"><div class="loc">Plumstead</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
		</div>

        <br>

		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Mon 29 August</div></div>
        </div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event">Start of Plumstravaganza</div></div>
			<div class="col-sm-4"><div class="loc">Plumstead</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
        </div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/events/plumtrail">Plum Trail Open</a></div></div>
			<div class="col-sm-4"><div class="loc">Plumstead</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
		</div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/events/orienteering">Orienteering</a></div></div>
			<div class="col-sm-4"><div class="loc">Shrewsbury Park Car Park, off Plum Lane SE18 3HQ</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
			<div class="col-sm-2"><div class="time">10am – 1pm</div></div>
		</div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/byName#gyb">Greenwich Youth Band</a></div></div>
			<div class="col-sm-4"><div class="loc">The Bull 151 Shooters Hill SE18 3HP (in garden weather permitting)</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
			<div class="col-sm-2"><div class="time">12.00pm - 2.30pm</div></div>
		</div>
		<div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#nat">Walk and Talk: Nature Reserve</a></div></div>
            <div class="col-sm-4"><div class="loc">Plumstead Common</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">2pm - 3pm</div></div>
        </div>
        <br>

		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Tue 30 August</div></div>
		</div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/byName#caf">Community Cafe</a></div>
			</div> <div class="col-sm-4"><div class="loc">Salvation Army, White Hart Road Plumstead SE18 1DG</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
			<div class="col-sm-2"><div class="time">10:30am – 2pm</div> </div>
		</div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="http://www.plumstravaganza.co.uk/events/poetry#finals">Poetry Competition Final</a></div></div>
			<div class="col-sm-4"><div class="loc">Old Mill pub, Old Mill Road</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
			<div class="col-sm-2"><div class="time">8pm – 10pm</div></div>
		</div>
        <br>

        <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Wed 31 August</div></div>
		</div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/byName#art">Adult Rugby Training</a></div></div>
			<div class="col-sm-4"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
			<div class="col-sm-2"><div class="time">7:30pm – 9:30pm</div></div>
		</div>
        <br>

        <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Thu 1 September</div></div>
        </div>
		<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/byName#for">Foraging walk</a></div></div>
            <div class="col-sm-4"><div class="loc">Slade Libary, Erindale, Plumstead SE18 2QQ</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">9:30am - 10:30am</div></div>
            </div>
            <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/byName#spg">Spiral Garden Open</a></div></div>
            <div class="col-sm-4"><div class="loc">Vicarage Park SE18 7SU</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10:30am - 12pm</div></div>
            </div>
            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#cha"> Chairobics exercise class </a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">2pm - 3pm</div></div></div>
            <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/events/photography">Photography Competition Open for Voting</a></div></div>
			<div class="col-sm-4"><div class="loc">Online</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
		    </div>
        <br>

         <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Fri 2 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#kan">Knit & Natter</a></div></div>
            <div class="col-sm-4"><div class="loc">Slade Centre Library - Erindale SE18 2QQ</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10.00am - 12noon</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://www.explorelearning.co.uk/AbbeyWood" target="_blank">Explore Learning Literacy taster workshop</a></div></div>
            <div class="col-sm-4"><div class="loc">Plumstead Library</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">1.00pm - 2.00pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#pcb">Open Evening</a></div></div>
            <div class="col-sm-4"><div class="loc">Plumstead Common Bowling Club, St Johns Terrace, SE18 7RT</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">6pm - 8pm</div></div></div>
        <br>

          <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Sat 3 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#opw">In the Footsteps of George Duckworth - Walk</a></div></div>
            <div class="col-sm-4"><div class="loc">starting at Plumstead Station</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">11am - 1pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#pcm">Plumstead Community Market</a></div></div>
            <div class="col-sm-4"><div class="loc">St. Marks Church Hall, Old Mill Road, SE18 1QG</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">11am - 3pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#agm">Plumstead Make Merry AGM</a></div></div>
            <div class="col-sm-4"><div class="loc">St. Marks Church Hall, Old Mill Road, SE18 1QG</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">1:30pm - 3pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://www.musicmillse18.co.uk/411431563" target="_blank">We Ghosts</a></div></div>
            <div class="col-sm-4"><div class="loc">Old Mill</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">8:30pm - 10:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#met">Methadox (band)</a></div></div>
            <div class="col-sm-4"><div class="loc">Glenmore Arms - 41 Edison Grove SE18 2DW</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">9pm - 11pm</div></div></div>

        <br>

         <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Sun 4 September</div></div>
         </div>

			<div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/events/cyanotype">Cyanotype Workshop for Children </a></div></div>
            <div class="col-sm-4"><div class="loc">Details on Booking</div></div>
            <div class="col-sm-2"><div class="cost">£3.00</div></div>
            <div class="col-sm-2"><div class="time">10am - 12:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#min">Mini Rugby - Children</a></div></div>
            <div class="col-sm-4"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10am - 12:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#wor">Walk and Talk: Workhouse Wood</a></div></div>
            <div class="col-sm-4"><div class="loc">Winn's Common</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">11am - 12pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/events/cyanotype">Cyanotype Workshop for Children </a></div></div>
            <div class="col-sm-4"><div class="loc">Details on Booking</div></div>
            <div class="col-sm-2"><div class="cost">£3.00</div></div>
            <div class="col-sm-2"><div class="time">2pm - 4:30pm</div></div></div>


            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#ett">Edible Tree Trail</a></div></div>
            <div class="col-sm-4"><div class="loc">Winn's Common</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">2:30pm - 3:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://www.canarywolf.co.uk/canarywolf.co.uk/Homepage.html" target="_blank">Canary Wolf</a></div></div>
            <div class="col-sm-4"><div class="loc">Oxleas Wood Café, Crown Woods Lane SE18 3JA (outside weather permitting)</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">3.00pm - 5.00pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#fla">Flash Mob Greek Dance</a></div></div>
            <div class="col-sm-4"><div class="loc">Winn's Common</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">3.30pm - 4.30pm</div></div></div>
        <br>

         <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Mon 5 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#lta">Leisure time for adults</a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10am - 12:30pm</div></div></div>
        <br>

         <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Tue 6 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#caf">Community Cafe</a></div></div>
            <div class="col-sm-4"><div class="loc">Salvation Army, White Hart Road, SE18 1DG</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10:30am - 2pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#dje">Djembe Drumming</a></div></div>
            <div class="col-sm-4"><div class="loc">Plumstead Library</div></div>
            <div class="col-sm-2"><div class="cost">£5.00</div></div>
            <div class="col-sm-2"><div class="time">7pm - 9pm</div></div></div>
        <br>

         <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Wed 7 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#cof">Coffee Bar</a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">9:30am - 10:30am</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#enc">English corner (English Lessons)</a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10am - 12pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#aft">Affordable Food Tasting Event</a></div></div>
            <div class="col-sm-4"><div class="loc">Plumstead Library</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">2pm - 4pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#art">Adult Rugby Training</a></div></div>
            <div class="col-sm-4"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">7:30pm - 9:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://improshrews.weebly.com" target="_blank">Improshrews Theatre Improvisation</a></div></div>
            <div class="col-sm-4"><div class="loc">Room 2 Shrewsbury House, Bushmoor Cres. SE18 3BT</div></div>
            <div class="col-sm-2"><div class="cost">What you can afford</div></div>
            <div class="col-sm-2"><div class="time">7:30pm - 9:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#qui">Quiz Night</a></div></div>
            <div class="col-sm-4"><div class="loc">Glenmore Arms - 41 Edison Grove SE18 2DW</div></div>
            <div class="col-sm-2"><div class="cost">£2 per person</div></div>
            <div class="col-sm-2"><div class="time">8.30pm - 10.30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/events/photography">Photography Competition Closes for Voting</a></div></div>
			<div class="col-sm-4"><div class="loc">Online</div></div>
			<div class="col-sm-2"><div class="cost">Free</div></div>
		    </div>

        <br>

         <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Thu 8 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#for">Greenwich Healthy Walks - Foraging</a></div></div>
            <div class="col-sm-4"><div class="loc">Slade Libary, Erindale, Plumstead SE18 2QQ</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">9:30am - 10:30am</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#jig">Jigsaw - for parents and carers with toddlers and babies</a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">TBC</div></div>
            <div class="col-sm-2"><div class="time">9:45am - 11:15am</div></div></div>

            <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-4"><div class="event"><a href="/byName#spg">Spiral Garden Open</a></div></div>
            <div class="col-sm-4"><div class="loc">Vicarage Park SE18 7SU</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10:30am - 12pm</div></div>
            </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#cha">Chairobics exercise class</a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">2pm - 3pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://www.ashleygreaves.co.uk/gallery.html" target="_blank">Life drawing class with Ashley Greaves</a></div></div>
            <div class="col-sm-4"><div class="loc">Shrewsbury House, Bushmoor Crescent SE18 3EG</div></div>
            <div class="col-sm-2"><div class="cost">£20 per session</div></div>
            <div class="col-sm-2"><div class="time">2.30pm - 5.30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#tkk">Thursday Kids Klub</a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">6pm - 7:15pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#atc">Adult Tennis Coaching</a></div></div>
            <div class="col-sm-4"><div class="loc">Shooters Hill Tennis Club, Eaglesfield Road, SE18 3DA</div></div>
            <div class="col-sm-2"><div class="cost">£8 for non-members</div></div>
            <div class="col-sm-2"><div class="time">7:30pm - 9pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://www.musicmillse18.co.uk" target="_blank">Open Mic (acoustic)</a></div></div>
            <div class="col-sm-4"><div class="loc">Old Mill</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">8:30pm - 10:30pm</div></div></div>
        <br>

         <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Fri 9 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#wtc">Womens Tennis Coaching</a></div></div>
            <div class="col-sm-4"><div class="loc">Shooters Hill Tennis Club, Eaglesfield Road, SE18 3DA</div></div>
            <div class="col-sm-2"><div class="cost">£8 for non-members</div></div>
            <div class="col-sm-2"><div class="time">10am - 11am</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://www.explorelearning.co.uk/AbbeyWood" target="_blank">Explore Learning Literacy taster workshop</a></div></div>
            <div class="col-sm-4"><div class="loc">Plumstead Library</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">4.00pm - 5.00pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#cgt">Club Group for teenagers</a></div></div>
            <div class="col-sm-4"><div class="loc">The Slade Evangelical Church, SE18 2NB</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">7pm - 9pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#mmq">Make Merry Fund-raising Quiz Night</a></div></div>
            <div class="col-sm-4"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road</div></div>
            <div class="col-sm-2"><div class="cost">£5 per head</div></div>
            <div class="col-sm-2"><div class="time">8pm - 11pm</div></div></div>
        <br>

          <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Sat 10 September</div></div>
         </div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#car">Cardio Tennis</a></div></div>
            <div class="col-sm-4"><div class="loc">Shooters Hill Tennis Club, Eaglesfield Road, SE18 3DA</div></div>
            <div class="col-sm-2"><div class="cost">£7 for non members</div></div>
            <div class="col-sm-2"><div class="time">10am - 11am</div></div></div>

			<div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/events/cyanotype">Cyanotype Workshop for Adults</a></div></div>
            <div class="col-sm-4"><div class="loc">Details on Booking</div></div>
            <div class="col-sm-2"><div class="cost">£3.00</div></div>
            <div class="col-sm-2"><div class="time">10am - 12:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/events/openstudios">Open Studios</a></div></div>
            <div class="col-sm-4"><div class="loc">Around Plumstead</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">11am - 5pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/events/cyanotype">Cyanotype Workshop for Adults</a></div></div>
            <div class="col-sm-4"><div class="loc">Details on Booking</div></div>
            <div class="col-sm-2"><div class="cost">£3.00</div></div>
            <div class="col-sm-2"><div class="time">1:30pm - 4pm</div></div></div>
<!--
            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="https://artplumstead.wordpress.com/short-story-competition-2016/">Short Story Awards</a></div></div>
            <div class="col-sm-4"><div class="loc">Plumstead Library</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">3pm - 5pm</div></div></div>
-->

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/events/cyanotype">Cyanotype Workshop for Adults</a></div></div>
            <div class="col-sm-4"><div class="loc">Details on Booking</div></div>
            <div class="col-sm-2"><div class="cost">£3.00</div></div>
            <div class="col-sm-2"><div class="time">4:30pm - 7pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="http://www.musicmillse18.co.uk/411431563" target="_blank">Wessex Pistols</a></div></div>
            <div class="col-sm-4"><div class="loc">Old Mill</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">8:30pm - 10:30pm</div></div></div>
        <br>

          <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="date">Sun 11 September</div></div>
         </div>
            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#min">Mini Rugby - Children</a></div></div>
            <div class="col-sm-4"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">10am - 12:30pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#enp">En Plein Air Workshop</a></div></div>
            <div class="col-sm-4"><div class="loc">Rockliffe Gardens SE18</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">11am – 2pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/byName#pav">Pavement chalk drawing</a></div></div>
            <div class="col-sm-4"><div class="loc">Rockliffe Gardens SE18</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">11am - 1pm</div></div></div>

            <div class="row" style="padding-top: 0.5%;"><div class="col-sm-4"><div class="event"><a href="/events/openstudios">Open Studios</a></div></div>
            <div class="col-sm-4"><div class="loc">Around Plumstead</div></div>
            <div class="col-sm-2"><div class="cost">Free</div></div>
            <div class="col-sm-2"><div class="time">11am - 5pm</div></div></div>





            <div class="row" style="padding-top: 0.5%;"><div><div class="col-sm-4"><div class="event"><a href="/byName#fin">Final Party</a></div></div>
            <div class="col-sm-4"><div class="loc">Greenwich Rugby Club, The Pavilion, Old Mill Road</div></div>
            <div class="col-sm-2"><div class="cost">TBA</div></div>
            <div class="col-sm-2"><div class="time">7pm - 11pm</div></div></div></div>
          </div>


    <br>


{% endblock %}
