<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="Plumstravaganza, Plumstead, Festival, Art Plumstead">

        <title>Plumstravaganza - recognising everything Plumstead has to offer</title>

    <link rel="icon" type="image/png" href="/static/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Plumstravaganza</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/events">Events</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" >
        <div class ="jumbotron" style="background-color:Plum;text-align: center;" >
            <h1><img src="/static/images/plumstravaganza.png" alt="Plumstravaganza Logo" width="150">  Plumstravaganza 2016</h1>
            <h2>29<sup>th</sup> August to 11<sup>th</sup> September</h2>
        </div>

        <div>Plumstravaganza 2016 is about recognising everything Plumstead has to offer and celebrating the contribution made by individuals, local groups and small businesses to the community. It is about bringing a sense of festival and fun to the streets.
        </div>
        <br>
        <div class="well" style="background-color:White;">

            <div style="text-align: center;"><mark>CALLING ALL CREATIVE PEOPLE OF PLUMSTEAD</mark></div>
            <h3>Plumstead Open Studios
            <small>Saturday 10th and Sunday 11th September 11am until 5pm both days</small></h3>
            <div>John Rastall, who runs the <a href="http://www.studio-pots.com/">Harlequin Gallery</a>, is organising a weekend of Open Studios in Plumstead S. E. London, as part of this year’s Plumstravaganza. Already he has a number of artists who have agreed to take part but would be happy to be contacted by anyone else interested in joining in. Whether you produce fine art, photography, craft, design or anything in between he would be delighted to hear from you. All you would need to do is be prepared to open your home or studio in Plumstead on the days above. If you wished to share that space with artist friends you would be most welcome to do so, as long as you supplied details so that their work could feature in the publicity alongside your own.</div>
            <br>
            <div>For more details or just to say count me in please contact John by email at <a href="mailto:jr@studio-pots.com?Subject=Plumstead%20Open%20Studios" target="_top">jr@studio-pots.com</a></div>
        </div>
        <div class="well" style="background-color:White;">

            <div style="text-align: center;"><mark>GARAGE SALE SUNDAY</mark></div>
            <br>
            <div>As part of Plumstravaganza, we are planning to co-ordinate a morning when people in the Plumstead SE18 area can open their garages, gardens or even their homes in order to sell their unwanted goods. The only provisos are that you make sure that what you offer for sale is legal and that you don’t encroach onto the public highway.</div>
			<div>The date is Sunday 4th September 2016 and the advertised times will be from 8am until midday.</div>
			<div>There will be no fee for taking part and any money raised will be for you to do with as you wish.</div>
			<div>All that will be required is your name and address, which will be added to the list and map that we will publish before the day.</div>
			<div>Anyone interest please contact us by email at <a href="mailto:plumstravaganza@yahoo.com?Subject=Garage%20Sale%20Sunday" target="_top">plumstravaganza@yahoo.com</a></div>

        </div>
        <div class="well" style="background-color:White;">

            <div style="text-align: center;"><mark>CALLING ALL PLUMSTEAD GARDENERS</mark></div>
            <h3>Plumstead Open Gardens
            <small>Sunday 11th September 11am until 5pm (or a specified time during this period)</small></h3>
            <div>As part of Plumstravaganza we are looking for people to open their gardens. These can be front or back gardens or even conservatories. We are hoping that local allotments will open their doors. We will also be encouraging people to visit our existing open spaces and gardens such as Rockcliffe Gardens, Workhouse Woods and the Plumstead Nature Reserve. </div>
            <div>The beginning of September may not be the best time for gardens but we are not looking for Chelsea Show Gardens (unless you have one of these!) but maybe gardens with an interesting feature, ponds, a view or ecologically friendly etc. So don’t be put off by a less than perfect specimen!</div>
            <div>You may want to arrange a tea party and invite family and friends as well as members of the public. You could make a small admission charge or sell cakes and plants etc. If you raise money you can use it to cover expenses and/or give a donation to Bexley and Greenwich Hospice or any other charity of your choice. You would need to ensure that you put appropriate security arrangements in place if people need to access the garden via your home.</div>
            <div>We would love to hear from anyone willing to open their garden on Sunday 11th September or arrange a garden party.</div>
            <div>If you are willing and interested to take part please contact Maggie Rastall at <a href="mailto:plumstravaganza@yahoo.com?Subject=Plumstead%20Open%20Gardens" target="_top">plumstravaganza@yahoo.com</a></div>
            <br>

            </div>

    </div>

</body>
</html>