{% extends "base.html" %}
{% block content %}

        <div><h3>Plumstead Open Studios <small>Saturday 10th and Sunday 11th September 11am until 5pm both days</small></h3>
        These are some of the artists taking part
        </div>
        <br>

                <div class="well" style="background-color:White;" >
            <div class="container" >
                <div style="text-align: center;"><h3>Emma Bath (Demi-Kicks Ltd.)</h3></div>
                <br/>
                <div style="margin-right:5%;"><img src="/static/images/openStudios/Emma.png" alt="Demi-Kicks" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    Emma at Demi Kicks hand paints quirky and unique canvas shoes or 'Kicks'. Designs can be picked from a catalogue, or there is also the option of commissioning a bespoke custom pair of Kicks.
<br/>
                    There is a large array of 'Punny Cards' (silly cards!) to choose from- light-hearted & fun for plenty of occasions. You can always order a Portrait & Custom Card set- your very own special card(s) with a loved one or your beloved pets portrayed to send to friends & family<br />
                    <br/>
                    She has a website <a href="http://www.demikicks.com" target="_blank">www.demikicks.com</a><br />
                </div>
            </div>
        </div>

            <div class="well" style="background-color:White;" >
            <div class="container" >
                <div style="text-align: center;"><h3>Colin Fifield</h3></div>
                <br/>
                <div style="margin-right:5%;"><img src="/static/images/openStudios/Fifield.jpg" alt="Colin Fifield" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
              <img src="/static/images/openStudios/Fifield-pots.jpg" alt="Colin Fifield Pots" class="img-responsive pull-right" style="width=100%; height:auto; margin-left:2.5%; margin-right:0%;">
                    <br/>
                    Colin is a painter and potter living on Shooters Hill. His paintings are mainly of the coastal landscapes of the South Coast. The areas of Hastings, Deal and Dungeness are very inspiring. Paintings are in oils, acrylics and watercolour.<br/>
                    He also makes a lot of pottery, which is mainly wheel thrown domestic ware, and teaches ceramics at a local adult education college.<br />
                    <br />
                    The title for the picture is "Hastings Beach - blue tarpaulin" <br />
                    <br/>
                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;" >
            <div class="container" >
                <div style="text-align: center;"><h3>Patricia Fitzgerald</h3></div>
                <br/>
                <div style="margin-right:5%;"><img src="/static/images/openStudios/jamboree.jpg" alt="Jamboree" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    I create stained glass and fused glass.<br/>
                    The stained glass is for domestic interiors and gardens, and is geometric in its conception.<br/>
                    The fused glass panels are an interpretation of watercolour technique and involves collaging the glass and incorporating other elements (metal mesh and wire).<br/>
                    I am inspires by landscape and water themes.<br />
                    I am a member of the Contemporary Glass Society.<br />
                    <br/>
                    The stained glass panel shown is called Jamboree.<br />
                </div>
            </div>
        </div>


        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><h3>Peter Fitzgerald</h3></div>
                <br/>
                <div style="margin-right:5%;"><img src="/static/images/openStudios/PGoneVoice.jpg" alt="One Voice" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    My work , both 2D and 3D is about unfamiliar ways of seeing heads.They are arrived at primarily by exploring colour/shape/ and form.<br />
                    The approach has similarities to Synthetic Cubism. <br />
                    <br />

                    The attached image is called One Voice and is a stoneware sculpture.<br />
                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><h3>Sarah Harper</h3></div>
                <br/>
                <div style="margin-right:5%"><img src="/static/images/openStudios/SarahSkull.jpg" alt="Skull" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    Working under the name of Harper Bizarre Art, Sarah Harper produces a variety of contemporary arts and crafts in mixed medium.  With a particular interest in mosaic pieces for the home and garden, she produces bespoke artwork that includes not only glass and ceramics but also recycled jewellery and many other items.  Sarah's work also includes hand-decorated crafts, sometimes with a political or controversial edge.<br />
                    <br />

                    The mosaic image is called Skull.<br />
                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><h3>Frank Loman</h3></div>
                <br/>
                <div style="margin-right:5%"><img src="/static/images/openStudios/FL.jpg" alt="Untitled" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    The subjects of Frank Loman's artwork range from imaginary coastlines, flowers & trees to abstract movements of colour. Already an established singer, writer & director, painting adds another opportunity for Frank to express his emotions and engage with his audience.<br />
                    <br />

                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><a href="http://focusfinder.wixsite.com/photographygroup/folio-c175r" target="_blank"><h3 id="Sandra">Sandra Marques</h3></a></div>
                <br/>
                <div style="margin-right:5%"><img src="/static/images/openStudios/Johnhandflower.jpg" alt="John and Flower" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    My work aims at the preservation of old traditional methods of photographic practice while exploring a variety of modern imagery and subject matter. By using vintage film cameras and printing in the darkroom, I have the opportunity to, not only understand how photographs are made but also to experiment both with visual language and also with the chemicals and methods of producing photographic images.

                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><h3>Ray Marshall</h3></div>
                <br/>
                <div style="margin-right:5%"><img src="/static/images/openStudios/Hastings.jpg" alt="Hastings watercolour on paper" class="img-responsive pull-left" style="width=100%; height:auto; width:289px; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    Having undertaken some formal study at Morley College, where Lawrence Toynbee had a great influence, Ray is mostly self-taught. His work covers an eclectic mix of subjects, taking inspiration from nature, architecture, historical references, dance and music. He has exhibited in numerous mixed exhibitions and produced commissioned work for patrons both locally as well as in the United States, Canada and Australia.
                    <br />
                    <br />
                    This work is called Hastings watercolour on paper.
                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><h3>Esther Pilcher</h3></div>
                <br/>
                <div style="margin-right:5%"><img src="/static/images/openStudios/sea-abstract.jpg" alt="Abstract Sea" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    My jewellery is a mix of copper and enamels which channel my love of colour and the translucence that only glass  techniques can bring. Some of my work is inspired by my native Cornwall but it all has a naive quality that gives it that handmade feel.
                    <br />
                    <br />

                    This work is called Abstract Sea<br />
                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><h3>Maggie Rastall</h3></div>
                <br/>
                <div style="margin-right:5%"><img src="/static/images/openStudios/Maggie.jpg" alt="Ode to the Mackerel" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    I am a textile artist working with fabric, print and stitch.
                    <br />
                    <br />

                    The title of this piece is Ode to the Mackerel.
                    <br />
                </div>
            </div>
        </div>

        <div class="well" style="background-color:White;">
            <div class="container">
                <div style="text-align: center;"><h3>Iain Rutherford</h3></div>
                <br/>
                <div style="margin-right:5%"><img src="/static/images/openStudios/Iain.jpg" alt="Moorings, St. Ives Harbour" class="img-responsive pull-left" style="width=100%; height:auto; margin-left:0%; margin-right:2.5%;">
                    <br/>
                    I have a first degree and MA in Fine Art from Goldsmith's College London and my work has been exhibited at the Royal Academy Summer Exhibition, Berkeley Square Gallery, Belgrave Gallery St. Ives and by Blond Fine Art in the past.




                    <br />
                    <br />

                    The work is called  Moorings, St. Ives Harbour and is a gouache on paper.
                    <br />
                </div>
            </div>
        </div>

        <br>

{% endblock %}