{% extends "base.html" %}
{% block content %}
<h3>Orienteering in Shrewsbury Park <small>Monday 29<sup>th</sup> August between 10am and 1pm</small></h3>
<div class="row">
        <div class="col-sm-12">You can download the flyer from <a href="/static/download/Orienteering.pdf">here</a></div>
</div>

<div class="container">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="7500" data-wrap="false" data-pause="hover">
    <!-- Indicators -->
<!-- Turn off indicators
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
-->
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

      <div class="item active">
            <img src="/static/images/Obanner.png" alt="Dartford Banner">
      </div>


      <div class="item">
        <img src="/static/images/Odibber.png" alt="Dibber" >
      </div>

      <div class="item">
        <img src="/static/images/Omaptext.png" alt="Map">
      </div>

      <div class="item">
        <img src="/static/images/Omap.png" alt="Map">
      </div>

      <div class="item">
        <img src="/static/images/Obox.png" alt="Box">
      </div>

      <div class="item">
        <img src="/static/images/Obox2.png" alt="Box">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>
<div class="container">
<div class="row">

    <div class="col-md-12">Come along to Shrewsbury Park when you like between 10am and 1pm. We will be in the car park, off Plum Lane SE18 3HQ. Look for the Dartford Orienteering banner.</div>
</div>
<br>
<div class="row">
    <div class="col-md-12">Fill in a registration form and we will lend you an electronic device called a dibber. You will then be given a map of Shrewsbury Park. Starting at the point on the map marked by the red triangle, visit the control points in order and get back to the finish, marked by the double circle, as quickly as you can.</div>
</div>
<br>
<div class="row">
    <div class="col-md-12">At each control point there will be an electronic box on top of a short pole looking like this. Put the dibber in the box. It will beep and flash and record on the dibber the time that you got there. When you have got back to the finish, which will also be near the car park, we will put your dibber into a download box. This will produce a printout showing how long it took you to reach each control and the total time you took to get around the course. </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">Depending on whether you have run or walked, whether you have found every control first time or had to look around for a bit, this could take between 10 minutes and half an hour.</div>
</div>
<br>
<div class="row">
    <div class="col-md-12">There will be two courses for you to try, so if you find orienteering really easy we will send you out again and the second course will be a bit harder. If you can do that one quickly as well then perhaps we can persuade you to <a href="http://www.dfok.co.uk" target="_blank">join our club</a>, but even if you can’t you can join us anyway.</div>
</div>
<br>
<div class="row">
    <div class="col-md-12">Whether you join or not, we hope you enjoy your taste of orienteering and want to try it again. It is a sport anyone can enjoy  –  just check out this video </div>
</div>
<br>
</div>
<div class="container">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/l8hXwh_0sNM"></iframe>
  </div>
</div>
<br>

{% endblock %}