{% extends "base.html" %}
{% block content %}
<h3>Plumstravaganza Photo Competition</h3>



<p>Entries are invited for the Plumstravaganza Photo Competition</p>

<p>The theme: <strong>"Plumstead"</strong></p>

<p>Please submit entries to: <a href="mailto:info@plumstravaganza.co.uk?Subject=Photography%20Competition" target="_top">info@plumstravaganza.co.uk</a></p>


<p>The rules are simple:</p>
<ol>
  <li>Colour or black and white.</li>

<li>Filetype: JPG or JPEG
<br>
The longest edge of the image must be 1600 pixels. The shorter edge 1200 pixels. Minimum 96dpi. Max file size 20MB
<br>
(a higher 250 dpi resolution version may be requested from competition winners).</li>

<li>Width/Height ratio 4:3 (landscape orientation) or 3:4 (portrait orientation).
<br>
Photos may be cropped by the organisers if they do not comply.</li>

<li>Competition opens 15 August 2016 and closes 28th August.</li>

<li>ONE photograph per entrant.</li>

<li>Online voting opens 1st September and closes 7th September.</li>

<li>If you submit a photograph you grant Art Plumstead a royalty-free, nonexclusive right to display the photograph on a Plumstravaganza photo competition web site, and allow third-parties to share the photograph on the following social media platforms: Twitter, Facebook, and Pinterest.</li>

</ol>
<p><i>If you choose to include people in your submission, you are responsible for obtaining the necessary releases from the individuals depicted, and must be able to provide copies of those releases to Art Plumstead upon request.</i></p>
{% endblock %}