{% extends "base.html" %}
{% block content %}
    <div class="col-md-12">
        <h3>Plum Trail</h3>
        <p>The Plum Trail will launch on Monday 29th August and run for the duration of Plumstravaganza. The 50 or so posters in the Plum Trail will be located around the Plumstead, Glyndon and Shooters Hill wards at small businesses, community centres, libraries, churches and sports halls. Each poster will display a plum variety and an accompanying question to be entered on the downloadable answer form.</p>
        <p>Individuals and families are invited to participate by walking to each plum on the trail and answering the question they will find there. It will take several days to visit all of them, so allow plenty of time!</p>
        <p>Any Plumstead businesses wishing to attract local people from other parts of the area by displaying an A4 poster as part of the Plum Trail are invited to contact Plumstravaganza on <a href="mailto:plumtrail@plumstravaganza.co.uk?Subject=Plum%20Trail" target="_top">plumtrail@plumstravaganza.co.uk</a></p>
    </div>
    <div class="col-md-12"> <p>Click on the <span class="glyphicon glyphicon-log-in"></span> on the top left of the map to show a list of where the plums are, click on the plums for details of the locaion</p></div>
<iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OgrS12kvXspmiRlRW-66v3xS2HU&z=14" width="100%" height="720"></iframe>
<br>
<br>

{% endblock %}
