{% extends "base.html" %}
{% block content %}
<h3>Poetry Competition</h3>

<div class="container">
    <figure class="figure">

        <img src="/static/images/William_Wordsworth_at_28_by_William_Shuter2.jpg" alt="William Wordsworth at 28 by William Shuter" class="img-responsive center-block">

    </figure>
    <p style="text-align: center">William Wordsworth - local poet 1835<br>
    ??????????? - local poet 2016</p>
</div>
<br>

<p>Whether you use the aesthetic and rhythmic qualities of English in your everyday speech, are a serial poet or have always thought of having a go at poetry but never got around to it then this could be for you.</p>

<p>Plumstravaganza is looking for someone to be crowned “Plumstead Poet Laureate 2016”, so why not take part? Although initially all entries will be assessed and short-listed by a panel, the final judging will be done by the general public in The Old Mill public house on 30th August.</p>

<p>The poem can be happy, sad, reflective, amusing or anything in between on the theme of <strong>“A Memory of 2016”</strong> with a title of your choice. It must be your original work, in English, previously unpublished and, although there will not be a limit on the number of words, if Milton had entered his little ditty, Paradise Lost, we would probably have said, “Too long, John.”</p>

<h4>Other Entry Rules: -</h4>

<p>(i) The competition will open for entries on <strong>Monday 18th July</strong> and close at <strong>midnight on Friday 19th August 2016</strong>. Any entries received after that time will not be accepted.</p>

<p>(ii) Submissions must be made by email to <a href="mailto:info@plumstravaganza.co.uk?Subject=Poetry%20Competition" target="_top">info@plumstravaganza.co.uk</a></p>

<p>(iii) Confirmation of your entry being received will be made to you by email.</p>

<p id="iv">(iv) Format: The name, address and contact details must be supplied with every entry <strong>but on a separate sheet to the poem</strong>.</p>

<p>The poem must be type written. The reason for not including information about yourself on the same sheet as the poem is to ensure anonymity during the short-listing process.</p>

<p>(v) Up to 3 poems can be entered by any individual but they must be submitted on separate documents as outlined in <a href="#iv">(iv)</a>.</p>

<p>(vi) Entries cannot be returned after the competition.</p>

<h4>The Judging Process: -</h4>

<p>Short-listing will take place in the week commencing Monday 22nd August.  The judges will select what they consider to be the 12 best poems.</p>

<p>The poets of the short-listed entries will be informed by e-mail on or before Saturday 27th August. They will go through to the Finals Night to take place in The Old Mill, 1 Old Mill Road, Plumstead SE18 1QG on Tuesday 30th August from 8pm.</p>

<h4 id="finals">The Finals Night: -</h4>

<p>On the Finals Night the poems, if wished, can be read by the poet. Alternatively actors Jenny Chapman, Nick Day and Erik Fuller, (who will also be short-listing judges), have been engaged to do the readings.  If you wish to read your own poem then you should contact us when you know your poem has been short-listed.</p>

<p>Before the Finals Night the short-listed poems will be split into 3 groups of 4 for what will be the semi-final stage.</p>

<p>On the night the first group of 4 poems will be read and the audience in the pub will be given the opportunity to vote by ballot as to which they think is the best poem in that section. The winning poem will go through to the Grand Final.</p>

<p>This process will be repeated twice more so that there will be 3 poems in total chosen for the Grand Final.</p>

<p>The Grand Final will follow the same format and voting process so that it is the public’s choice as to which poem is the winning entry.</p>

<p>If present, the poet will be crowned Plumstead Poet Laureate 2016.</p>

<p>NB There is no monetary prize associated with the competition.</p>
{% endblock %}