{% extends "base.html" %}
{% block content %}
<h3>Walks and Talks</h3>
    <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="aft">Affordable Food Tasting Event</div></div>
    </div>
    <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Library, Plumstead High St, London SE18 1JL, UK</div></div>
        <div class="col-sm-6"><div class="datetime">2pm - 4pm 07 Sep</div></div>
    </div>

    <div class="row">
        <div class="col-sm-12">In this workshop style event you will be shown how fresh herbs can be used on their own or added to supermarkets' value range to add interest to your diet. There will be a session on growing edible plants from scraps and easily available seeds. You will hear about local foraging. The event will conclude with a tasting of home made sweet and savoury food.</div>
    </div>

    <div class="row" style="padding-top: 0.5%;">
		<div class="col-sm-12"><div class="name" id="ett">Edible Tree Trail</div></div>
    </div>
    <div class="row">
		<div class="col-sm-6"><div class="loc">Winn's Common</div></div>
        <div class="col-sm-6"><div class="datetime">2:30pm - 3:30pm 04 Sep</div></div>
    </div>

    <div class="row">
        <div class="col-sm-12">Revisit the <a href="https://artplumstead.wordpress.com/2016/05/10/the-tasty-dozen/" target="_blank">Edible Trees of Winn's Common</a> to see how they have changed since May when we were tasting the leaves. This time, we will be looking at the developing fruits. Meet on the short path between Kings Highway and Winn Common Road. Estimated time, approximately 1 hour.
            This event will be immediately followed by the <a href="/byName#f">Flash Mob Greek Dance</a></div>
    </div>

    <div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="for">Foraging walk </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Slade Libary, Erindale, Plumstead SE18 2QQ</div></div>
        <div class="col-sm-6"><div class="datetime">9:30am - 10:30am 01 Sep</div></div>
        </div>
                <div class="row">
		<div class="col-sm-6"><div class="loc"></div></div>
        <div class="col-sm-6"><div class="datetime">9:30am - 10:30am 08 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">Revisit the route taken in May to see how the plants have changed in the last four months and make a mental note to come back and harvest the fruits as they ripen! Please arrive promptly. Run by Greenwich Get Walking.</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="opw">In the Footsteps of George Duckworth</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Station </div></div>
        <div class="col-sm-6"><div class="datetime">11am - 1pm 03 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">A walk and talk around parts of Plumstead that have changed over the years, pointing out sites that where important in the past and buildings, whose purpose has changed.
        The walk will follow the route that the social commentator, George Duckworth, took along with PC Clyne on Monday 1st October 1900, as part of the Social Survey of London Life that was carried out between 1886 and 1903. This survey was instigated by the businessman, Charles Booth,  and it is hoped that the walk will shed some light on what life was like in parts of Plumstead 116 years ago. Maybe even in the very house that you live in today.</div></div>


        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name">Plum Trail</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead</div></div>
        <div class="col-sm-6"><div class="datetime">29 Aug - 12 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">See <a href="/events/plumtrail">http://www.plumstravaganza.co.uk/events/plumtrail</a> for details</div></div>

        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="nat">Walk and Talk - Nature Reserve</div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Plumstead Common</div></div>
        <div class="col-sm-6"><div class="datetime">2pm - 3pm 29 Aug</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">A walk and talk around and about Plumstead Nature Reserve led by Nick Day</div></div>
        	<div class="row" style="padding-top: 0.5%;">
			<div class="col-sm-12"><div class="name" id="wor">Walk and Talk: Workhouse Wood </div></div>
        </div>
        <div class="row">
		<div class="col-sm-6"><div class="loc">Winn's Common</div></div>
        <div class="col-sm-6"><div class="datetime">11am - 12pm 04 Sep</div></div>
        </div>

        <div class="row">
        <div class="col-sm-12">1 hour walk around Workhouse Wood, led by Nick Day</div></div>




{% endblock %}