div.date {
    color: plum;
    text-shadow: 1px 1px #000000;
    font-size: 120%;
}
date {
    color: plum;
    text-shadow: 1px 1px #000000;
    font-size: 120%;
}

loc {
    color:blue;
}

cost {
    color: red;
}
time{
    color:green;
}